body {
  font-family: 'Segoe UI', Tahoma, Geneva, sans-serif;
}

.link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.link__reverse {
  text-decoration: underline;
  color: inherit;
}

.link__reverse:hover {
  text-decoration: none;
}

.color-green {
  color: #6b9c36;
}

.color-red {
  color: #ff1010;
}

.color-white {
  color: #ffffff;
}

.full-width {
  width: 100%;
  min-width: 600px;
}

.base-width {
  max-width: 1200px;
  min-width: 600px;
}

.tran-green {
  color: currentColor;
  transition: color 0.2s ease;
}

.tran-green:hover {
  color: #6b9c36;
  transition: color 0.6s ease;
}

.fade-enter-active {
  transition: all 0.5s ease;
}

.fade-leave-active {
  transition: all 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
